@value todoBlack, todoGray, todoWhite from '../../common/colors.css';

.todoList {
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

.section {
  background-color: todoGray;
}

.container {
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid todoBlack;
  overflow-y: auto;
}
/* 
@media screen and (max-width: 1680px) {
  .todoList {
    top: 12%;
  }
}

@media screen and (max-width: 1400px) {
  .todoList {
    top: 14%;
  }
} */

@media screen and (max-width: 1045px) {
  .todoList {
    top: 20%;
  }
}
