@value todoBlack, todoGray, todoWhite from '../../common/colors.css';

.todoList {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

.section {
  background-color: todoWhite;
}

.container {
  width: 40rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid todoBlack;
}

.form {
  margin: 1em;
  display: flex;
}

.input {
  flex: 1;
  margin-right: 0.5em;
  font-size: 1rem;
  border: none;
  outline: none;
  border-bottom: 1px solid todoGray;
}

.submit {
  width: 4rem;
  height: 2.5rem;
  color: todoWhite;
  font-size: 1rem;
  font-weight: 600;
  background-color: todoGray;
  border: 0;
}
