@value todoBlue, todoBlack from '../../common/colors.css';

.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 1.5em;
  border-bottom: 1px solid todoBlue;
}

.checkBox {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
  border: 1px solid todoBlack;
  margin-right: 0.5em;
  margin-bottom: 0.25em;
  color: todoBlack;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  margin: 0;
  width: 100%;
  font-size: 1.2rem;
  text-align: left;
  padding-bottom: 0.5em;
}

.Remove {
  font-size: 1.5rem;
}
