@value todoGray, todoLightGray, todoBlack from '../../common/colors.css';

.todoItem {
  display: flex;
  align-items: center;
  padding: 1em 1.5em;
  border-bottom: 1px solid rgb(233, 233, 233);
  cursor: pointer;
}

.todoItem:hover {
  background-color: todoLightGray;
}

.checked {
  color: gray;
  text-decoration: line-through;
}

.checkBox {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
  border: 1px solid todoBlack;
  margin-right: 0.5em;
  color: todoBlack;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  flex: 1;
  margin: 0;
  width: 100%;
  font-size: 1.2rem;
  text-align: left;
}

.todoItem:hover .Remove {
  opacity: 1;
}

.Remove {
  opacity: 0;
  font-size: 1.5rem;
}
