* {
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://i.postimg.cc/SsMv4vSf/blackwood2.png');
}

.clock {
  position: absolute;
  left: 10%;
  top: 10%;
  -webkit-filter: drop-shadow(5px 5px 5px #000000);
  filter: drop-shadow(5px 5px 5px #000000);
}

@media screen and (max-width: 1680px) {
  .clock {
    left: 8%;
    top: 12%;
  }
}

@media screen and (max-width: 1045px) {
  .app {
    padding-top: 10rem;
  }
  .clock {
    width: 13rem;
    height: 13rem;
    left: auto;
    top: -1.5%;
  }
}
